<?xml version="1.0"?>
<config>
    <modules>
        <Webkul_Mppartnergroup>
            <version>0.1.0</version>
        </Webkul_Mppartnergroup>
    </modules>
	<default>
		<marketplace>
			<mppartnergroup>
                <defaultproductallowed><![CDATA[10]]></defaultproductallowed>
				<sandbox><![CDATA[1]]></sandbox>
				<checktype><![CDATA[0]]></checktype>
            </mppartnergroup>
		</marketplace>
	</default>
    <frontend>
        <routers>
            <mppartnergroup>
                <use>standard</use>
                <args>
                    <module>Webkul_Mppartnergroup</module>
                    <frontName>mppartnergroup</frontName>
                </args>
            </mppartnergroup>
        </routers>
        <layout>
            <updates>
                <mppartnergroup>
                    <file>mppartnergroup.xml</file>
                </mppartnergroup>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mppartnergroup>
				<use>admin</use>
				<args>
					<module>Webkul_Mppartnergroup</module>
					<frontName>mppartnergroup</frontName>
				</args>
			</mppartnergroup>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<mppartnergroup>
					<file>mppartnergroup.xml</file>
				</mppartnergroup>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<events>
			<catalog_product_save_after>
                <observers>
                   <Webkul_Mppartnergroup_Model_Observer>
                      <type>singleton</type>
                      <class>Webkul_Mppartnergroup_Model_Observer</class>
                      <method>productSave</method>
                   </Webkul_Mppartnergroup_Model_Observer>
               </observers>
            </catalog_product_save_after>
		</events>
        <models>
            <mppartnergroup>
                <class>Webkul_Mppartnergroup_Model</class>
                <resourceModel>mppartnergroup_mysql4</resourceModel>
            </mppartnergroup>
            <mppartnergroup_mysql4>
                <class>Webkul_Mppartnergroup_Model_Mysql4</class>
                <entities>
                    <mppartnergroup>
                        <table>marketplace_partnergroup</table>
                    </mppartnergroup>
					<assinegroup>
                        <table>marketplace_partnertype</table>
                    </assinegroup>
                </entities>
            </mppartnergroup_mysql4>
        </models>
        <resources>
            <mppartnergroup_setup>
                <setup>
                    <module>Webkul_Mppartnergroup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mppartnergroup_setup>
            <mppartnergroup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mppartnergroup_write>
            <mppartnergroup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mppartnergroup_read>
        </resources>
        <blocks>
            <mppartnergroup>
                <class>Webkul_Mppartnergroup_Block</class>
            </mppartnergroup>
        </blocks>
        <helpers>
            <mppartnergroup>
                <class>Webkul_Mppartnergroup_Helper</class>
            </mppartnergroup>
        </helpers>
    </global>
</config>