.input-box label,.input-box span label{width:163px;}
.input-box{width:600px!important; }
.wk_adminmsg{color:red; font-size:20px; margin:10px 0px 0px 20px;}
.partner_notify{color:rgba(255, 0, 0, 0.39)}