<?xml version="1.0"?>
<config>
  <modules>
    <Customs_Api>
      <version>1.0</version>
    </Customs_Api>
  </modules>
  <global>
    <models>
      <api>
        <class>Customs_Api_Model</class>
      </api>
    </models>
    <helpers>
      <api>
        <class>Customs_Api_Helper</class>
      </api>
    </helpers>
  </global>
</config>